@import "tailwindcss";
/* react-datepickerのスタイルをインポート */
@import "react-datepicker/dist/react-datepicker.css";

:root {
  --background: #222324;
  --foreground: #bdc1c6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
